myenv/
TESTING_ENV/
instructions.txt
fastapi-env/

API-devlopment/API-endpoint/Models/__pycache__
API-devlopment/API-endpoint/__pycache__/
API-devlopment/API-endpoint/upload_files
API-devlopment/API-endpoint/chroma-db/
API-devlopment/API-endpoint/logs
API-devlopment/API-endpoint/.env